* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */
.poppins-font {
  font-family: "Poppins", sans-serif;
}


.container {
    width: 78%;
    margin-right: auto;
    margin-left: auto;

}
.display {
    display: flex;
    flex-direction: row;
      align-items: center;
     

}
/* navbar related design */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 45px;
}
/* hero section related design */
.hero-container {
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 0 40px;
}
.hero-content {
      padding-left: 10px;
}

.hero-content h1 {
    font-size: 43px;
    font-weight: bold;
    color: #1F1F1F;
    margin-bottom: 10px;
  
}
.hero-content p {
    font-size: 16px;
    font-weight: normal;
    color: #4E4E4E;
    margin-bottom: 12px;
}
.hero-content h4 {
    font-size: 38px;
    font-weight: 500;
    color: #FF136F;
     margin-bottom: 10px;
}
.btn-primary {
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    background: linear-gradient(to right, #FF589B, #FF136F);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
   cursor: pointer;
   box-shadow: 0px 5px 12px #4e4e4ec4;

}
.btn-primary:hover {
    background: linear-gradient(to right, #800080, #ff00ff);
    transform: scale(1.1);
    transition: all 1.5s;
}
/* categories related design */
.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-bottom: 60px;
     
   
}

.categories-container h1, .shoes-container h1, .backpack-container h1 {
    font-size: 30px;
    font-weight: 600;
    color: #1F1F1F;
    margin-bottom: 15px;
   
    
   
}
.one, .two, .three {
    background-color: #FF9C35;
    padding: 5px 40px;
    font-size: 22px;
    /* font-weight: 300; */
    color: #FFFFFF;
    border-radius: 8px;  
    gap: 40px;
    overflow: hidden;
  
   
  } 

.two {
    background-color: #FF136F;
    gap: 55px;
}
.three {
    background-color: #3F07F8;
    gap: 3px;
    padding: 5px 15px;
}
/* shoes & backpack related design */

.shoes-card , .backpack-card {
    border: 1px solid #4e4e4e69;
    width: 310px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 60px;
    background-color: white;
    box-shadow: 0px 5px 6px  rgba(0, 0, 0, 0.377);
  

}
.shoes-card:hover, .backpack-card:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}
.shoes-card h1, .backpack-card h1 {
  font-size: 24px;
  font-weight: 600;
  color: #1F1F1F;
  margin-bottom: 5px;
}
.shoes-card p, .backpack-card p {
  font-size: 14px;
  font-weight: 400;
  color: #4E4E4E;
 margin-bottom: 10px;
}
.shoes-card h4, .backpack-card h4 {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
    margin-bottom: 10px;
}
 .btn-second {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 22px;
    border: none;
    border-radius: 3px;
 }
 .shoes-card img, .backpack-card img {
 width: 280px;
 }
.shoes, .backpack {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

/* footer related design */
.footer {
    background-color: #FFF2F1;
    margin-top: 15px;
}
.footer-content {
    text-align: center;
    padding: 140px 240px;
}
.footer-content h1 {
    font-size: 32px;
    font-weight: 600;
    color: #1F1F1F;
  
}
.footer-content p {
    font-size: 15px;
    font-weight: 400;
    color: #707070;
    margin-bottom: 8px;
}
 
.footer-content input {
    padding: 15px 45px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: #cccccce1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

 
.footer-content button {
    padding: 15px 45px;
    border: none;
    font-size: 18px;
    font-weight: 500;
   background: linear-gradient(to right, #FF589B, #FF136F);
    color: #FFFFFF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;


}

/* responsive */
/* laptop device 993-1200*/
@media  screen and (max-width: 1200px) {
.hero-content h1 {
    font-size: 28px;
}
.hero-content h4 {
    font-size: 25px;
}

  .one, .two, .three {
    padding: 5px 15px;
    font-size: 20px;
    overflow: hidden;
   
  } 
    
    
   
  
.shoes, .backpack{
    justify-content: space-between;
}

.shoes-card, .backpack-card{
    width: 40%;
}
 
 .shoes-card img, .backpack-card img {
 width: 170px;
 }
 
 .footer-content h1 {
    font-size: 25px;
  
  
}

.footer-content input {
    padding: 15px;
   font-size: 15px;

}

.footer-content button {
   padding: 15px;
   font-size: 16px;
}

   
   

}
/* tablet device 641-992 */
@media  screen and (max-width: 992px) {

.hero-container {
    flex-direction: column;
    
}
.hero-content {
    text-align: center;
}
.hero-content h1 {
   margin-top: 20px;
  
}


.categories{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.categories .one,
.categories .two,
.categories .three{
    width: 48%;
    justify-content: center;
    text-align: center;
}
.three {
    padding-right: 5px;
}


.shoes, .backpack {
    flex-direction: column;
}
.shoes-card, .backpack-card{
    width: 50%;
}

.shoes-container h1, .backpack-container h1, .categories-container h1 {
    text-align: center;
}
.footer-content {
      padding: 60px 100px;
}

}

/* mobile device  */
@media  screen and (max-width: 640px){
    .btn-primary {
        margin-bottom: 10px;
    }
.hero-img img {
  width: 210px;
}
.categories{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.categories .one,
.categories .two,
.categories .three{
    width: 100%;
    justify-content: center;
    text-align: center;
}


.one, .two {
     padding: 5px 25px; 
      
}
.three {
    padding: 5px 10px;
     
}
.shoes-card, .backpack-card{
    width: 85%;
   
}
.footer-content h1 {
    font-size: 20px;
}

.footer-content {
      padding: 40px 15px;
      display: flex;
      flex-direction: column;
      gap: 15px;
     
}
.footer-content button, .footer-content input {
    border-radius: 5px;
}
}

    

