* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */
.poppins-font {
  font-family: "Poppins", sans-serif;
}

.container {
    width: 78%;
    margin-right: auto;
    margin-left: auto;

}
.display {
    display: flex;
    flex-direction: row;
      align-items: center;
     

}
/* navbar related design */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
/* hero section related design */
.hero-container {
    background-color: #FEEAE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 8px;
    padding: 0 40px;
}
.hero-content {
      padding-left: 10px;
}

.hero-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1F1F1F;
    margin-bottom: 8px;
  
}
.hero-content p {
    font-size: 16px;
    font-weight: normal;
    color: #4E4E4E;
    margin-bottom: 12px;
}
.hero-content h4 {
    font-size: 40px;
    font-weight: 500;
    color: #FF136F;
     margin-bottom: 10px;
}
.btn-primary {
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF;
    background: linear-gradient(to right, #FF589B, #FF136F);
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
   cursor: pointer;
   box-shadow: 0px 5px 12px #4e4e4ec4;

}
.btn-primary:hover {
    background: linear-gradient(to right, #800080, #ff00ff);
    transform: scale(1.1);
    transition: all 1.5s;
}
/* categories related design */
.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
 margin-bottom: 60px;
   
}
.categories-container h1, .shoes-container h1 {
    font-size: 30px;
    font-weight: 600;
    color: #1F1F1F;
    margin-bottom: 15px;
   
    
   
}
.one, .two, .three {
    background-color: #FF9C35;
    padding: 5px 40px;
    font-size: 23px;
    /* font-weight: 300; */
    color: #FFFFFF;
    border-radius: 8px;  
    gap: 50px;
}
.two {
    background-color: #FF136F;
    gap: 60px;
}
.three {
    background-color: #3F07F8;
    gap: 8px;
}
/* shoes related design */

.shoes-card {
    border: 1px solid #4e4e4e69;
    width: 310px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: 0px 5px 6px  rgba(0, 0, 0, 0.377);
  

}
.shoes-card:hover {
    transform: translateY(-10px);
    transition: all 0.5s;
}
.shoes-card h1 {
  font-size: 24px;
  font-weight: 600;
  color: #1F1F1F;
  margin-bottom: 5px;
}
.shoes-card p {
  font-size: 14px;
  font-weight: 400;
  color: #4E4E4E;
    margin-bottom: 10px;
}
.shoes-card h4 {
  font-size: 22px;
  font-weight: 500;
  color: #000000;
    margin-bottom: 10px;
}
 .btn-second {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 22px;
    border: none;
    border-radius: 3px;
 }
 .shoes-card img {
 width: 280px;
 }
.shoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


